.cards{
    margin-top: 5%;
    margin-left: 13%;
    margin-right: 10%;
    padding-left: 2%;

}

 .bike-card{
    margin-left: 6%;
    margin-right: 6%
 }
.card-text{
    position : relative;
    float : right;
}