/* .main--div{
  
}

.left-section{
    
    margin-top: 0;
    margin-left: 16%;
    
}


.profile {
    height: 100%;
    width: 20%;
    
    background-color:rgb(244, 244, 244);
    border-radius: 15px;
    box-shadow:  5px 5px 5px 5px rgb(245, 239, 239);
}



.header{
    margin-left: 5%;
    color: rgb(141, 141, 137);
    
}
.left-section .profile .img-div img{
    
    border-radius: 50%; 
    
    box-shadow: 0px 6px 5px #0f0c0c;
   
}

.img-div {
    max-width: 40%;
    min-width: 40%;
    margin-left: 27%;
    margin-top: 8%
}

.upload-field input{
    margin-left: 60px;
    margin-top: 12px;
}

.upload-field input[type = 'file']{
    color: transparent;
}

.details-div{
    margin-top: 10%;
    margin-left: 8%;
    padding-bottom: 10%;
}

.wallet-card{
    background-color:rgb(244, 244, 244);
    width: 20%;
    margin-top: 5%;
    border-radius: 15px;
    box-shadow:  5px 5px 5px 5px rgb(245, 239, 239);
}

.wallet-card p{
    margin-left: 20%;
    padding-top: 6%;
}

.wallet-card button{
    margin-left: 18%;
    margin-bottom: 5%;
    border-radius: 5px;
    width: 65%;
    height: 30px;
    background-color: rgb(74, 159, 239);
    border: none;
}

.right-section{
    background-color: red;
    min-height: 100%;
    min-width: 100%; 
}

.upload-button{
    margin-top: 8%;
    margin-left: 18%;
    
}

.upload-button button {
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    width: 65%;
    height: 30px;
    background-color: rgb(74, 159, 239);
    border: none;
}

.image img {
    height: 100%;
    width: 100%;
} */

body{
    margin-top: 0;
    
}